* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html {
    font-family: 'Shadows Into Light', serif;
    background-color: #87CEEB;
    animation: change-background 1s 3s forwards;
    animation-delay: 1s;
}


@keyframes change-background {
    0% {
        background-color: #87CEEB; 
    }
    100% {
        background-color: #6c8094; 
    }
}

a{
    text-decoration: none;
    padding: 15px;
    font-size: 40px;
}

#fadeIn {
    animation-name: fadeIn;
    animation-delay: 0s;
    animation-direction: forwards;
    animation-duration: 2s;
    animation-fill-mode:forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.teardrop {
    display: grid;
    place-items: center;
    min-height: 100vh;
    text-align: center;
}



.All {
    position: absolute;
    top: 230px;
    left: 675px;
    animation: All, neon-animation infinite;
    animation-delay: 1.5s;
    animation-duration: 2.7s;
    animation-fill-mode: forwards;
    color: #3c5369;
    opacity: 0;
}

@keyframes All {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes neon-animation {
    15% {
        color: #3c5369; 
    }
    60% {
        color: #3c5369; 
        text-shadow: 0 0 10px #87CEEB, 0 0 20px #87CEEB, 0 0 30px #87CEEB;
    }
}