* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: grid;
    place-items: center;
    color: #3c5369;
}

html {
    font-family: 'Shadows Into Light', serif;
    background-color: #6c8094;
}

a{
    text-decoration: none;
    font-size: 40px;
    font-weight: 100;
}
     

/* /* .padLeft {
    height: 712px;
    width: 1440px; */
    /* padding-top: 22%;
    padding-left: 25%; */


#fadeIn {
    animation-name: fadeIn;
    animation-delay: 0s;
    animation-direction: forwards;
    animation-duration: 2s;
    animation-fill-mode:forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.you {
    position: absolute;
    top: 20px;
    left: 500px;
    animation-name: falling;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.just {
    position: absolute;
    top: 20px;
    left: 560px;
    animation-name: falling;
    animation-duration: 3s;
    animation-delay: 200ms;
    animation-fill-mode: forwards;
}

.gotta {
    position: absolute;
    top: 20px;
    left: 620px;
    animation-name: falling;
    animation-delay: 150ms;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.make {
    position: absolute;
    top: 20px;
    left: 700px;
    animation-name: falling;
    animation-delay: 210ms;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.your {
    position: absolute;
    top: 20px;
    left: 840px;
    animation-name: falling;
    animation-delay: 130ms;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.mindPosition {
    position: absolute;
    top: 20px;
    left: 910px;
    animation-name: falling;
    animation-delay: 10ms;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes falling {
    0% {
        opacity: 0;
    }
    100% {
        padding-top: 300px;
        opacity: 1;
    }
}

#up {
    color: #3c5369;
    position: absolute;
    top: 320px;
    left: 790px;
    animation: up, change-color infinite;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    opacity: 0;
}

@keyframes up {
    0% {
        opacity: 0.4;
    }
    100% {
        top: 250px;
        opacity: 1;
    }
}

@keyframes change-color {
    15% {
        color: #3c5369; 
    }
    60% {
        color: #3c5369; 
        text-shadow: 0 0 10px #87CEEB, 0 0 20px #87CEEB, 0 0 30px #87CEEB;
    }
}

#mind {
    position: absolute;
    animation-name: mind;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-direction: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-play-state: running;
    animation-delay: 4.5s;
    top: 300px;
    left: 910px;
    opacity: 0;
}


@keyframes mind {
    0%{
        position: absolute;
        color: #3c5369;
        top: 320px;
        left: 910px;
        font-size: 40px;
        opacity: 0.2;
    }
    100% {
        position: absolute;
        top: 350px;
        right: 230px;
        font-size: 280px;
        opacity: 0;
    }
}

